@import '../../styles/mixins';

.module__grid_item {
  background-color: var(--theme-background);
  border: 1px solid var(--theme-color);
  @include cubic_bezier(background-color);
  &:hover {
    background-color: var(--theme-color);
    * {
      color: var(--theme-background);
    }
  }
}
