// @use "sass:color";

$brand-primary: hsl(353, 95%, 57%);
$brand-secondary: #141414;
$brand-tertiary: #2c2c2c;

$base-white: #ffffff;
$base-black: #020203;

$brand-white: $base-white;
$brand-black: hsl(225, 22%, 11%);
// $brand-black: adjust-color($base-black, $lightness: 13%); // #151821 - rgb(21, 24, 33)
$brand-black-hex: #151821; // #151821

$b-13: hsl(225, 19%, 13%);
$b-13: hsl(230, 20%, 18%);
$b-20: adjust-color($brand-black, $lightness: 20%);
$b-60: adjust-color($brand-black, $lightness: 60%);
// $black-40: color.scale($brand-black, $lightness: 40%);
// $black-60: color.scale($brand-black, $lightness: 60%);
// $black-80: color.scale($brand-black, $lightness: 80%);

.b-0 {
  background-color: $brand-black;
}
.b-13 {
  background-color: $b-13;
}
.b-20 {
  background-color: $b-20;
}

// Color map //
$theme-palette: (
  dark: (
    brand: $brand-primary,
    color: $brand-white,
    background: $brand-black,
    font: $brand-white,
    accent: $brand-primary,
    accent-font: $brand-primary,
    side-nav-bg: $b-13,
    top-nav-bg: $b-13,
  ),
  light: (
    brand: $brand-primary,
    color: $brand-black,
    background: $brand-white,
    font: $brand-secondary,
    accent: $brand-secondary,
    accent-font: $brand-primary,
    side-nav-bg: hsl(20, 100%, 98%),
    top-nav-bg: hsl(20, 100%, 98%),
  ),
);

:root {
  // Loop over each theme-palette
  @each $color, $color-swatch in $theme-palette {
    .#{$color} {
      // Loop over each field
      @each $field, $color-swatch in map-get($theme-palette, #{$color}) {
        --theme-#{$field}: #{$color-swatch};
      }
    }
  }
}
