html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: theme('fontFamily.sans');
  box-sizing: border-box;
  // These are fallback colours.
  // Main app colours are defined at the Application Component Level
  background-color: $brand-black;
  color: var(--dvlp-primary-text-color);
  ::selection {
    background: var(--dvlp-text-highlight);
  }
}

#app {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

h1 {
  font-size: theme('fontSize.4xl');
}
h2 {
  font-size: theme('fontSize.3xl');
}

h3 {
  font-size: theme('fontSize.2xl');
}
h4 {
  font-size: theme('fontSize.xl');
}
h5 {
  font-size: theme('fontSize.lg');
}
h6 {
  font-size: theme('fontSize.base');
}
p {
  font-size: theme('fontSize.base');
}

input,
select,
textarea {
  background-color: theme('colors.transparent');
  border: 1px solid theme('colors.primary-input');
  padding: 4px 8px;
  transition: border 0.3s cubic-bezier(0, 0, 0.175, 1);
  &:focus {
    border: 1px solid theme('colors.secondary-input');
    outline: none;
  }
}

input {
}
select {
  * {
    background-color: theme('colors.transparent');
    &:focus {
      border: 1px solid theme('colors.primary-input');
      outline: none;
    }
  }
}
option {
  background-color: theme('colors.bg-color');
  &:focus {
    border: 1px solid theme('colors.secondary-input');
    outline: none;
  }
}
.textarea_actions {
  position: absolute;
  bottom: 6px;
  right: 22px;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: var(--dvlp-bg-color);
  @include cubic_bezier(background-color);
}

button {
  border-style: solid;
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }
  &.btn-primary,
  &.btn-secondary {
    border-width: 2px;
    font-weight: theme('fontWeight.semibold');
    transition: all 0.24s cubic-bezier(0, 0, 0.175, 1);
  }
  &.btn-primary {
    color: theme('colors.bg-color');
    background-color: theme('colors.uno');
    border-color: theme('colors.uno');
    &:hover,
    &:focus {
      color: theme('colors.uno');
      background-color: theme('colors.transparent');
    }
  }
  &.btn-secondary {
    color: theme('colors.uno');
    border-color: theme('colors.uno');
    background-color: theme('colors.transparent');
    &:hover,
    &:focus {
      color: theme('colors.bg-color');
      background-color: theme('colors.uno');
      border-color: theme('colors.uno');
    }
  }
}
