// @use "sass:color";

$brand-primary: hsl(353, 95%, 57%);
$brand-secondary: #141414;
$brand-tertiary: #2c2c2c;

$base-white: #ffffff;
$base-black: #020203;
$rgb-base-light: 255, 255, 255;
$rgb-base-dark: 0, 0, 0;

$brand-white: $base-white;
$brand-black: hsl(225, 22%, 11%);
// $brand-black: adjust-color($base-black, $lightness: 13%); // #151821 - rgb(21, 24, 33)
$brand-black-hex: #151821; // #151821

// Color map //
$theme-palette: (
  dark: (
    uno: $brand-primary,
    dos: #1f5ef7,
    tres: #939cea,
    primary-text-color: rgba(255, 255, 255, 1),
    secondary-text-color: rgba(255, 255, 255, 0.5),
    font-color: #ffffff,
    font-accent: $brand-primary,
    primary-icon: #ffffff,
    primary-icon-active: hsl(353, 95%, 57%),
    primary-input: #ffffff,
    secondary-input: hsl(353, 95%, 57%),
    text-highlight: hsl(353, 95%, 20%),
    bg-color: #020203,
    bg-color-secondary: #141414,
    divider-color: #262626,
    divider-color-light: #595959,
    nav-gradient-active:
      linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(250, 41, 65, 0) 0%,
        rgba(250, 41, 65, 0.2) 100%
      ),
  ),
  light: (
    uno: $brand-primary,
    dos: #1f5ef7,
    tres: #939cea,
    primary-text-color: rgba(0, 0, 0, 1),
    secondary-text-color: rgba(0, 0, 0, 0.5),
    font-color: $brand-secondary,
    font-accent: #737580,
    primary-icon: hsl(225, 22%, 11%),
    primary-icon-active: hsl(353, 95%, 57%),
    primary-input: hsl(225, 22%, 11%),
    secondary-input: hsl(353, 95%, 57%),
    text-highlight: hsl(353, 95%, 20%),
    bg-color: #f1f1f1,
    bg-color-secondary: #fbfcfe,
    divider-color: #262626,
    divider-color-light: #595959,
    nav-gradient-active:
      linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(250, 41, 65, 0) 0%,
        rgba(250, 41, 65, 0.2) 100%
      ),
  ),
  // Add more themes here
);

:root {
  // Loop over each theme-palette
  @each $color, $color-swatch in $theme-palette {
    .#{$color} {
      // Loop over each field
      @each $field, $color-swatch in map-get($theme-palette, #{$color}) {
        --dvlp-#{$field}: #{$color-swatch};
      }
    }
  }
}
