$label-font-base: 1;
$label-font-base-rem: rem(14px);
$label-margin: 0 0 4px;

$radio-size-base: 1;

$radio-left-before: -35px;
$radio-left-after: -44px;

$radio-top-before: 6px;
$radio-top-after: 7px;

$checkbox-border-radius: 0px;

$error: red;

.input__radio_checkbox_wrapper {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
  .checkbox_input,
  .radio_input,
  .switch_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    border: none;
    z-index: 10; // make sure it stays on top to be clickable
    cursor: inherit;
  }
  label {
    position: relative;
    font-weight: 700;
    padding: 0 8px 0 4px;
    z-index: 1;
    pointer-events: none;
    top: unset;

    &:before {
      display: flex;
      content: '';
      height: 24px;
      width: 24px;
      top: 0px;
      left: $radio-left-before;
      margin-right: 2rem;
      transition: all 0.25s linear;
      position: absolute;
      border-radius: $checkbox-border-radius;
    }
    &:after {
      content: '';
      display: flex;
      height: 22px;
      width: 22px;
      top: 1px;
      left: $radio-left-after;
      margin-left: 0.625rem;
      transition: all 0.25s linear;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 0%;
      border-radius: $checkbox-border-radius;
    }
  }
  input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;
    &:checked ~ * {
      &.input__radio_input,
      &.input_radio__background {
        .input_radio__background_inner {
          transform: scale(0.5);
        }
      }
      &.input_checkbox__background {
        background-color: var(--theme-color);
        color: var(--theme-font);
        // color: $brand-secondary;
        .input_checkbox__background_outer {
          z-index: 10;
          color: green;
          &:after {
            transform: rotate(45deg) scale(1);
            opacity: 1;
          }
        }
        .input_checkbox__background_inner {
          height: 120px;
          transition: all 3s ease;
          z-index: 1;
          background-color: var(--theme-color);
        }
      }
      &.input_switch__background {
        .input_switch__background_outer {
          // background-color: var(--theme-brand);
        }
        .input_switch__background_inner {
          transform: translateX(55%);
        }
      }
    }
  }

  .input__radio_input,
  .input__checkbox_input {
    width: 40px * $radio-size-base;
    min-width: 40px * $radio-size-base;
    height: 40px * $radio-size-base;
    min-height: 40px * $radio-size-base;
    padding: 10px * $radio-size-base;
    cursor: pointer;
    margin: 0;
    position: relative;
    @include cubic_bezier(all);
    &:hover {
      &:before {
        opacity: 0.04;
        @include cubic_bezier(all);
      }
    }
    &:before {
      background-color: var(--theme-font);
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      @include cubic_bezier(all);
    }

    /* Checkbox */
    .input_checkbox__background {
      left: 11px * $radio-size-base;
      right: auto;
      top: 11px * $radio-size-base;
      width: 18px * $radio-size-base;
      height: 18px * $radio-size-base;
      border: 2px solid var(--theme-color);
      border-radius: 2px * $radio-size-base;
      display: inline-flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      overflow: hidden;
      z-index: 5;
      .input_checkbox__background_outer {
        position: relative;
        width: 100%;
        height: 100%;
        color: var(--theme-color);
        background-color: transparent;
        z-index: 5;
        &:after {
          content: '';
          position: absolute;
          left: 2px;
          top: 6px;
          background: var(--theme-border);
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 var(--theme-border), 4px 0 0 var(--theme-border),
            4px -2px 0 var(--theme-border), 4px -4px 0 var(--theme-border),
            4px -6px 0 var(--theme-border), 4px -8px 0 var(--theme-border);
          transform: rotate(45deg) scale(0.25);
          opacity: 0;
          @include cubic_bezier();
        }
      }
      .input_checkbox__background_inner {
        position: absolute;
        width: 130px;
        height: 0px;
        transform: rotate(45deg);
        background-color: transparent;
        z-index: 10;
      }
    }
    /* Radio */
    .input_radio__background {
      display: inline-block;
      position: absolute;
      left: 10px * $radio-size-base;
      box-sizing: border-box;
      width: 50%;
      height: 50%;
      background-color: transparent;
      pointer-events: none;
      .input_radio__background_outer {
        width: 100%;
        height: 100%;
        position: absolute;
        border-width: 2px;
        border-style: solid;
        transition: border-color 0.12s cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        // border-color: $brand-primary;
        background-color: transparent;
        border-radius: 50%;
      }
      .input_radio__background_inner {
        width: 100%;
        height: 100%;
        transform: scale(0);
        border-width: 10px * $radio-size-base;
        border-style: solid;
        // border-color: $brand-primary;
        border-radius: 50%;
        border-radius: 50%;
        transition: transform 0.12s cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      }
    }
  }

  .input__switch_input {
    width: 40px * $radio-size-base + 20px;
    min-width: 40px * $radio-size-base + 20px;
    height: 40px * $radio-size-base;
    min-height: 40px * $radio-size-base;
    padding: 10px * $radio-size-base;
    cursor: pointer;
    margin: 0;
    position: relative;
    @include cubic_bezier(all);
    &:hover {
      .input_switch__background {
        .input_switch__background_inner {
          // &:before {
          //   opacity: 0.04;
          //   @include cubic_bezier(all);
          // }
        }
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      @include cubic_bezier(all);
    }

    /* Checkbox */
    .input_switch__background {
      width: 100%;
      height: 100%;
      border-radius: 100px;
      border: 2px solid var(--theme-color);
      position: relative;
      overflow: hidden;
      .input_switch__background_outer {
        position: absolute;
        width: 100%;
        height: 100%;
        color: var(--theme-color);
        background-color: transparent;
        z-index: 5;
      }
      .input_switch__background_inner {
        position: relative;
        width: 18px * $radio-size-base;
        height: 100%;
        border-radius: 100px;
        z-index: 10;
        margin: 0 auto;
        transform: translateX(-55%);
        pointer-events: none;
        @include cubic_bezier();
        &:before {
          content: '';
          position: absolute;
          background-color: var(--theme-brand);
          height: 100%;
          width: 100px;
          border-radius: 100px;
          z-index: 0;
          right: 0;
          opacity: 1;
        }
        &:after {
          content: '';
          position: absolute;
          height: calc(100% + 2px);
          width: calc(100% + 2px);
          background-color: var(--theme-color);
          border-radius: 100px;
          left: -1px;
          top: -1px;
        }
      }
    }
  }
}
