.application__container {
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: var(--theme-background);
  color: var(--theme-color);
  transition: background-color 0.3s cubic-bezier(0, 0, 0.175, 1);
}
.application__section {
  flex: 1;
}

.sidebar {
  transition: background-color 0.3s cubic-bezier(0, 0, 0.175, 1);
  border-right: 1px solid var(--theme-border);
}
