@import '../../styles/mixins';

.emoji__single {
  cursor: pointer;
  padding-bottom: 100%;
  z-index: 0;
  @include cubic_bezier(background-color);
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--dvlp-tres);
    opacity: 0;
    top: 0;
    @include cubic_bezier(opacity);
  }
  &:hover {
    &:after {
      opacity: 0.25;
    }
    .emoji__text {
      opacity: 1;
    }
  }
  .emoji__text {
    opacity: 0;
    @include cubic_bezier(opacity);
    p {
      min-width: calc(100% + 16px);
      @include cubic_bezier(opacity);
    }
  }
}
